<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head") %>
  <style>
    .container {
      background-color: lightblue;
      border-radius: 20px;
      padding: 10px;
      width: 100%;
      min-height: 100%;
    }
  </style>
  <body>
    <div class="container">
      <p>Hello <strong><%= name %> </strong></p>
      <p>We are happy to selected you .We cant wait to see you</p>
      <p>If you have any query let us know in 2 daya with your numbers</p>
      <%- include ("./partials/footer") %>
    </div>
  </body>
</html>
